/* YOUR CSS HERE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body,*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.container-xxl{
    padding: 0 !important;
    max-width: 1800px !important;
}

/* Header */
header{
    position: fixed;
    background-color: white;
}
.search-icon, .cart-icon{
    cursor: pointer;
}
/* Cart Counter */
.cart{
    display: inline;
}

/* ProductList */
.main-prod-container{
    padding: 4rem 0;
}
.sort-container{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.sort-container select{
    width: fit-content;
    margin-left: 0.5rem;
    border: none;
}

.form-select:focus{
    box-shadow: none !important;
    border: none !important;
}
/* ProductItem */
.img-container{
    display: inline-block;
    padding: 1rem;
    border-radius: 20px;
    background-color: #F0EEED;
}

.item-container{
    font-size: 14px;
}
.item-container span.item-title{
    max-width: 120px;
    text-wrap: nowrap;
    overflow: hidden;
    font-weight: bold;
    display: inline-block;
    animation: none;
}

.img-container:hover span.item-title{
    border:solid 1px black;
    animation:scrollText 5s liner infinite;
}

.item-container img{
    width: 100px;
    height: 100px;
}

.add-cart-btn{
    font-weight: 800 !important;
}

.star-icon{
    font-size: 12px;
    color: black;
}
.rating-box{
    font-size: 12px;
    margin: auto 0;
}

/* Product Modal*/
.prod-modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-active{
    display: block;
}


.prod-modal-content{
    background-color: white;
    margin: 15% auto;
    padding: 1rem;
    max-width: 700px;
    min-width: 360px;
    max-height: 420px;
}

.prod-modal-content .img-container{
    max-height: 202px;
}

.prod-modal-content img{
    width: 150px;
    height: 150px;
}

.prod-modal-content img.close-icon{
    width: 20px;
    height: 20px;
}

.modal-right{
    padding: 0.8rem 0.5rem 0.8rem 0;
    width:100%;
    max-height: 316px;
}

.modal-right .item-title{
    font-weight: bold;
}


.modal-right-scroll{
    overflow-y: scroll;
}

.modal-prod-qty{
    width: fit-content;
}

.prod-modal-content .accordion-button{
    padding: 0.5rem 0.8rem !important;
}
.accordion-button:not(.collapsed){
    background-color: transparent !important;
}

.accordion-button:focus{
    box-shadow: none !important;
}


/* Cart context */
.cart-list{
    position: relative;
    display: none;
}

.show{
    display: block;
}

.cart-popup{
    position: fixed;
    background-color: white;
    width: 400px;
    right:0;
    top: 61px;
}

.cart-popup ul{
    padding-right:2rem ;
}

/* Cart Item */
.cart-item-box{
    gap:2rem;
    padding: 1rem 0;
}

.cart-item-box button, .modal-prod-qty button{
    border: none;
    background-color: transparent;
}
.cart-prod-img{
    width: 70px;
    height: 70px;
}

.cart-right-box{
    width: 100%;
}

.cart-top-text{
    padding-bottom:1rem;
}

.cart-top-text div{
    font-size: 14px;
}

.cart-heading{
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    text-align: center;
    padding-bottom: 1rem;
}
    /* quantity button */
.cart-prod-qty, .modal-prod-qty{
    gap: 0.5rem;
    background-color: #F0F0F0;
    padding: 0.2rem 0.5rem;
    border-radius: 25px;
    font-weight: bold;
}

/* Subtotal container */
.summary-head{
    text-transform: uppercase;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    padding-top: 1.5rem;
}
.checkout-btn{
    border: none;
    width: fit-content;
    margin: 2rem auto;
    padding: 0.5rem 7rem;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

/* Footer */
footer{
    background-color: #F0F0F0;
    padding: 2rem;
}

.footer-logo{
    height: 25px;
    margin: 0 auto;
}
.social-media-icons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer .accordion-item{
    /* width: fit-content; */
    background-color: transparent !important;
    border: none !important;
    margin: 0 auto;
}

footer .accordion-item button{
    background-color: transparent !important;
    padding:0.8rem !important;
    gap: 2rem;
    font-size: 18px;
}

footer .accordion-item .accordion-body{
    padding: 0.2rem;
    font-size: 15px;
}

footer .accordion-item .accordion-body:hover{
    text-decoration: underline;
}

footer .copyright-text{
    margin: 0 auto;
}

footer .desktop-nav{
    gap: 7rem;
    padding-right: 3rem;
}

.footer-nav-item ul{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 1rem 0;
}
.footer-nav-item li{
    list-style: none;
    font-size: 14px;
    cursor: pointer;
}
.footer-nav-item li:hover{
    text-decoration: underline;
}

footer .copyright-text{
    font-size: 10px;
}




@media screen and (min-width: 768px) {

    .main-prod-container{
        padding: 6rem 0;
    }

    /* Cart Item */
    .cart-popup{
        top: 93px;
    }

    /* ProductItem */
    .products-container{
        padding: 0 2rem;
    }
    .item-container .img-container{
    padding: 2rem;
    }

    .item-container{
        font-size: 16px;
        max-width: 210px;
    }
    .item-container span.item-title{
        max-width: 200px;
    }
    .item-container img{
        width: 150px;
        height: 150px;
    }

    /* Modal */
    .prod-modal-content{
        margin: 10% auto;
        padding: 2rem;
    }

    .prod-modal-content img{
        width: 250px;
        height: 250px;
    }
    .prod-modal-content .img-container{
        max-height: 317px;
    }

    .prod-modal-price{
        font-size: 10px;
    }

    .modal-right .item-title{
        font-size: 20px;
    }


}

@keyframes scrollText{
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}